<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="../../assets/css/nav/nav.css">
    <link rel="stylesheet" href="/assets/css/changepassword.css">

  </head>
  <body>
    <% if(admin){ %>  <%- include('partials/adminnav') %>   <%}%>
      <% if(donor){ %>  <%- include('partials/donornav') %><%}%>

<div class="body">
    <div class="left">
      <h1>Change Password </h1><br><br><br>
      <% if(admin){ %> <form action="/admin/changepassword" method="post"><%}%>
      <% if(donor){ %> <form action="/donor/changepassword" method="post"><%}%>
        <div class="txt_field">
          <input id = "password" type="password" name="oldpassword" placeholder = "Old Password" required>
        </div>
        <div id="input" class="txt_field">
          <input id ="password" type="password" name = "newpassword" placeholder= "New Password" required> 
        </div>
        <div id="input" class="txt_field">
          <input id = "password" type="password" name="newpassword2" placeholder = "Confirm Password" required>
          
        </div>
       
        <input type="submit" value="Change">
        
      </form>
    </div>

</body>
</html>