<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Home</title>
    <link rel="stylesheet" href=" ">
  </head>
  <body>
    
    <%  if(user) {  %>
      <h1 >You're in Peasant <%=user.FullName%>  </h1>
    <% }  %>
   
  </body>
</html>
