<header class="header">
    <img id="meklog" class="logo" src="../../assets/images/LOGO.png" alt="logo" width="65.7px" height="93.4px" >
    <nav class="nav_links">
      
        
      <div class="dropdown">
          <button><a href="/admin/home" class="home"><h4>HOME<h4></a></button>
          <div class="profile">
            <button><h4>PROFILE<h4></button>
            <ul class="hide">
              <li><a href="/admin/createdonorprofile"><h4>CREATE D. PROFILE</h4></a></li>
              <li><a href="/admin/accessdonorprofile"><h4>ACCESS D. PROFILE</h4></a></li>
              
            </ul>
          </div>
          <div class="inventory">
            <button><h4>INVENTORY<h4></button>
            <ul class="hide">
              <li><a href="#"><h4>ACCESS</h4></a></li>
              <li><a href="#"><h4>SUBMIT</h4></a></li>
                
            </ul>
          </div>


          <button><a href="#" class="testresult"><h4>TEST RESULT<h4></a></button>
              <button><a href="/admin/changepassword" class="changep"><h4>CHANGE PASSWORD<h4></a></button>

         <button><a href="/logout" class="logout"><h4>LOGOUT<h4></a></button>


        </div>
      
    </nav>

  </header>

