<header class="header">
    <img id="meklog" class="logo" src="../assets/images/LOGO.png" alt="logo" width="65.7px" height="93.4px" >
    <nav class="nav_links">
      <ul>
        
        <li class="nav-item">
          <a href="/home" class="nav-link"><h3> HOME</h3></a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link"><h3>ACCOUNT</h3> </a>
        </li>
       
       
        <li class="nav-item">
            <a href="about.html" class="nav-link"><h3>ABOUT US</h3> </a>
          </li>
          <li class="nav-item">
              <a href="manual.html" class="nav-link"><h3>MANUAL</h3> </a>
            </li>
      </ul>
    </nav>

  </header>